body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #e50914;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="date"],
input[type="tel"],
input[type="url"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

/* Aligner les options des fruits */
.fruit-options {
    display: flex;
    flex-direction: column; /* Changer à colonne pour l'alignement vertical */
}

.fruit-option {
    display: flex;
    align-items: center; /* Aligner les éléments au centre */
}

.fruit-option input {
    margin-right: 10px; /* Espacement entre la case à cocher et l'emoji */
}

/* Aligner les options de civilité */
.civilite-options {
    display: flex;
    margin-top: 5px;
}

.civilite-options input {
    margin-right: 10px;
}

button {
    background-color: #e50914;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #f40612;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

.back-link:hover {
    text-decoration: underline;
}
